codebase/webservices/Product/bin/
codebase/webservices/Product/obj/
codebase/DataContext/bin/
codebase/DataContext/obj/
codebase/Gateways/webgateway/bin/
codebase/Gateways/webgateway/obj/
codebase/Models/webstore/bin/
codebase/Models/webstore/obj/
codebase/Test/webservices/bin/
codebase/Test/webservices/obj/
